<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60"/>  <!-- automatyczne odświeżanie strony co 60 sekund -->
    <title>Chart</title>
    <link href="/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
      google.charts.load('current', {'packages':['line','corechart']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {


      var data = new google.visualization.DataTable();
      data.addColumn('string', "czas");
      data.addColumn('number', "temperatura");
      data.addColumn('number', "wilgotność");

      data.addRows([[${chartData}]]);


      var options = {
        chart: {
          title: 'Temperatura i wilgotność w pokoju z ostatnich 6 godzin',
          subtitle: 'próbkowanie co 1 minutę'
        },
        width: 1330,
        height: 520,
		backgroundColor: '#f2f2f2',
        axes: {
          x: {
            0: {side: 'bottom'}
          }
        }
      };

      var chart = new google.charts.Line(document.getElementById('wykres'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }
	drawChart();

    </script>
</head>
<body>
<div id="container">
    <div id="logo">
        <h1> Wykres 6h </h1>
        <!--        <button id="change-chart">Change to Classic</button>-->
    </div>
    <div th:insert="menu :: menu">
    </div>
    <div id="wykres"></div>
    <div id="footer">
        &copy; Wszelkie prawa zastrzeżone
    </div>

</div>


</body>
</html>