<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart24h</title>
    <link href="/css/style.css" rel="stylesheet">

</head>
<body>
<div id="container">
    <div id="logo">
        <h1> Wykres  </h1>
    </div>
    <div th:insert="menu :: menu">
    </div>
    <div id="wykres">
        <br><br><br><br><br><br><br><br><br>
        <h1>Brak danych do wykresu</h1>
    </div>
    <div id="footer">
        &copy; Wszelkie prawa zastrzeżone
    </div>

</div>


</body>
</html>