<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5"/>  <!-- automatyczne odświeżanie strony co 10 sekund -->
    <title></title>
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Adres niezbędny do działania biblioteki JQuery.  -->


</head>
<body>
<div id="container">
    <div id="logo">
        <h1> Temperatura i wilgotność w pokoju - Java backend </h1>
    </div>
    <!--    załączamy menu z pliku menu.html-->
    <div th:insert="~{menu :: menu}">
    </div>
    <div id="content1">
        <center>
            <h2>Ostatnie 60 pomiarów</h2>
            <table id="tabela_temperatur">
                <tr>
                    <th>nr pomiaru</th>
                    <th>temperatura na sondzie</th>
                    <th>wilgotność</th>
                    <th>czas</th>
                </tr>

                <tr th:each="tempHum: ${tempHumList}">
                    <td th:text="${tempHum.getId()}"></td>
                    <td th:text="${tempHum.getTemperature()}"></td>
                    <td th:text="${tempHum.getHumidity()}"></td>
                    <td th:text="${tempHum.getCzas()}"></td>
                </tr>

            </table>
        </center>
    </div>
    <div id="footer">
        &copy; Wszelkie prawa zastrzeżone
    </div>
</div>


</body>
</html>