<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60"/>  <!-- automatically refresh page every 60 seconds -->
    <title>Chart</title>
    <link href="/css/style.css" rel="stylesheet">
    <style>
table, th, td {
  border:1px solid black;
}
p {
  font-size: 22px;
  font-weight: bold;
}


    </style>
</head>
<body>
<div id="container">
    <div id="logo">
        <h1> Pogoda </h1>
    </div>
    <div th:insert="menu :: menu">
    </div>
    <div id="wykres">
        <table style="width:100%">
            <tr>
                <td colspan="2"><p th:text="'prognoza dla: '+${entity.getCityName()}"></p></td>
            </tr>
            <tr>
                <td colspan="2"><p th:text="'opis: '+${entity.getWeatherDescription()}"></p></td>
            </tr>
            <tr>
                <td><p th:text="'temperatura: '+${entity.getTemperature()}+' ℃'"></p></td>
                <td><p th:text="'temperatura odczuwalna: '+${entity.getPerceivedTemperature()}+' ℃'"></p></td>

            </tr>
            <tr>
                <td><p th:text="'wilgotność powietrza: '+${entity.getHumidity()}+' %'"></p>
                </td>
                <td><p th:text="'ciśnienie atmosferyczne: '+${entity.getPressureSeaLevel()}+' hPa'"></p>
                </td>
            </tr>
            <tr>
                <td><p th:text="'wschód słońca: '+${entity.getSunriseTime()}"></p>
                </td>
                <td><p th:text="'zachód słońca: '+${entity.getSunsetTime()}"></p>
                </td>
            </tr>
            <tr>
                <td><p th:text="'wiatr: '+${entity.getWindSpeed()}+' m/s'"></p></td>
                <td><p th:text="'wiatru(poryw): '+${entity.getWindGustSpeed()}+' m/s'"></p>
                </td>
            </tr>
            <tr>
                <td colspan="2"><p th:text="'pomiaru dokonano: '+${entity.getMeasurementTime()}"></p>
                </td>
            </tr>
        </table>


    </div>
    <div id="footer">
        &copy; Wszelkie prawa zastrzeżone
    </div>

</div>
</body>
</html>